In [1]:
import pandas as pd

In [40]:
te21 = pd.read_csv('RNA TE T2T1.csv')
te10 = pd.read_csv('RNA TE T1T0.csv')

In [43]:
te21.sort_values(by='TElogFC')

      Unnamed: 0        AccNum      Gene   TElogFC  RNAlogFC
5255        5255  NM_001271848    ZNF700 -1.431292 -0.550929
5129        5129     NM_005390     PDHA2 -1.253081 -0.625701
7928        7928     NM_002748     MAPK6 -1.207412  0.661482
3226        3226  NM_001199324    ZNF615 -1.176145 -0.321274
1454        1454     NM_152283     ZFP62 -1.139034 -0.123822
...          ...           ...       ...       ...       ...
2832        2832     NM_016565      COA4  1.492216 -0.885177
1408        1408     NM_032440      LCOR  1.513740  1.205329
6517        6517     NM_138689  PPP1R14B  1.538988 -0.517610
3978        3978     NM_005694     COX17  1.679055  1.447336
51            51     NM_006885     ZFHX3  1.753028 -0.670064

[7990 rows x 5 columns]

In [56]:
cutoff=0.8

In [59]:
te10_teDown = (te10.loc[te10['TElogFC']< -cutoff])
print(len(te10_teDown))
with open('te10_te_down.txt', 'w') as f:
    for item in te10_teDown['AccNum'].values:
        f.write("%s\n" % item)

690

In [60]:
te10_teUp = (te10.loc[te10['TElogFC'] > cutoff])
print(len(te10_teUp))
with open('te10_te_up.txt', 'w') as f:
    for item in te10_teUp['AccNum'].values:
        f.write("%s\n" % item)

173

In [61]:
te21_teUp = (te21.loc[te21['TElogFC'] > cutoff])
print(len(te21_teUp))
with open('te21_te_up.txt', 'w') as f:
    for item in te21_teUp['AccNum'].values:
        f.write("%s\n" % item)

147

In [62]:
te21_teDown = (te21.loc[te21['TElogFC'] < -cutoff])
print(len(te21_teDown))
with open('te21_te_down.txt', 'w') as f:
    for item in te21_teDown['AccNum'].values:
        f.write("%s\n" % item)

28

In [55]:
!touch commands.txt

True