In [1]:
import pandas as pd
import glob

In [5]:
clusters = glob.glob('*.gct')
print(clusters)

['fil2_oneMinusPearson_6clusters_New.gct', 'fil2_oneMinusPearson_8clusters_New.gct']

In [11]:
cluster = clusters[0]
t = pd.read_csv(cluster,sep='\t')
t.head(3)

          id  k_means_6  k_means_8  te_T0  te_T1  te_T2
0  NM_016640        1.0        1.0   0.10   0.57   0.25
1  NM_018476        1.0        7.0   0.79   1.40   0.86
2  NM_007100        1.0        1.0  -0.00   0.47   0.07

In [18]:
for i in range(1,9):
    rows = t.loc[t['k_means_8'] == i]
    rows['id'].to_csv('8clusters\\cluster {}.txt'.format(i),index=None,header=None)

In [15]:
t['id'].to_csv('background.txt',index=None,header=None)

In [21]:
with open('cmds.txt', 'a') as f:
    for i in range(1,9):
        cmd = 'python GO.py ../background.txt "cluster {}.txt"'.format(i)

        f.write(cmd+'\n')

In [22]:
16.75-5.4+11.75

23.1

In [25]:
(132.8+124.5+23.1)

280.40000000000003

In [26]:
760 - 90.95 - 70.1 + 50

648.9499999999999

In [27]:
710 - 9  - 70.1 + 50

680.9

In [28]:
886.27-126.27

760.0