In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import glob
glob.glob('genes/*')

['genes\\cluster 1 genes.txt',
 'genes\\cluster 2 genes.txt',
 'genes\\cluster 3 genes.txt',
 'genes\\cluster 4 genes.txt',
 'genes\\cluster 5 genes.txt',
 'genes\\cluster 6 genes.txt',
 'genes\\cluster 7 genes.txt',
 'genes\\cluster 8 genes.txt']

In [6]:
TEs = {}
te0 = pd.read_csv('../../../Deseq2 Analysis/shift15/coding/csv_raw/TE_t0.csv')
te1 = pd.read_csv('../../../Deseq2 Analysis/shift15/coding/csv_raw/TE_t1.csv')
te2 = pd.read_csv('../../../Deseq2 Analysis/shift15/coding/csv_raw/TE_t2.csv')

In [24]:
import os
for i in range(1,9):
    TEs = {}
    newpath = 'lineplot/' 
    if not os.path.exists(newpath):
        os.makedirs(newpath)
    
    f = pd.read_csv('genes/cluster '+str(i)+' genes.txt',header=None)
    genes = list(f[0])
    TEs['Genes'] = genes
    TEs['TE0'] = list(te0.loc[te0['Unnamed: 0'].isin(genes),'log2FoldChange'])
    TEs['TE1'] = list(te1.loc[te0['Unnamed: 0'].isin(genes),'log2FoldChange'])
    TEs['TE2'] = list(te2.loc[te0['Unnamed: 0'].isin(genes),'log2FoldChange'])
    TEdf = pd.DataFrame(TEs)
    TEdf.to_csv('lineplot/cluster'+str(i)+'_TE.csv')
    #plt.figure()
    #ax = sns.lineplot(estimator=None, color='black', #lw=1,
    #              data=TEdf.transpose(),
    #            dashes=False,legend=False,sort=False,ci=None,n_boot=None)
    #ax.get_figure().savefig('lineplot/cluster'+str(i)+"_TE_lines.png")

In [23]:
TEdf

            Genes       TE0       TE1       TE2
0    NM_001199107 -0.626665 -0.557044 -0.264365
1       NM_024571 -1.228628 -0.755353 -0.689504
2       NM_020457 -2.100014 -1.115286 -0.691297
3       NM_006893 -0.796347 -0.527393 -0.431205
4       NM_032344 -0.433304 -0.184485 -0.391263
..            ...       ...       ...       ...
898     NM_024646 -0.866155 -0.196203  0.058284
899     NM_019044 -0.439992  0.068023 -0.238338
900     NM_018279 -0.665015 -0.286008  0.056746
901     NM_021198 -0.883569 -0.548544 -0.209209
902     NM_013258 -0.079306 -0.086613  0.049273

[903 rows x 4 columns]